
<h1>地元麺　投稿フォーム</h1>
  <%= form_with model: @post do |f| %>
    <h4>投稿タイトル</h4>
      <%= f.text_field :title %>
    <h4>ショップ名</h4>
      <%= f.text_field :shop_name %>
    <h4>投稿本文</h4>
      <%= f.text_area :body %>
    <!--タグ部分-->
    <div class='form-group'>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
    <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*" %>
    
    
    <!--ratyのview/java-->
    <div id="post_raty"></div>
    <script>
     let elem = document.querySelector('#post_raty');
     let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: 'post[star]',
      half: false,
     };
     raty(elem, opt);
    </script>
    
    
    <%= f.label :adress, class: "form-label fw-bold"%>
    <%= f.text_field :adress, autofocus: true,placeholder: "住所を入力してください", class: "form-control" %>
      
    <%= f.submit '投稿' %>
      

  <% end %>
  