<div class="container">
  <div class="row">

    <%= render 'public/homes/sidebar', user: @user %>
    
    
    
<div>
  <%= image_tag @post.get_image(400,600) %>
  <p>ショップ名：<%= @post.shop_name %></p>
  <p>説明：<%= @post.body %></p>
  <% @post.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post.user.full_name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</div>


  </div>
</div>
