<div class="container">
  <div class="row">

  <%= render 'public/homes/sidebar', user: @user %>
  
  <div class ="col-9">
    <div>
      <%= image_tag @post.get_image(400,600) %>
      <p>ショップ名：<%= @post.shop_name %></p>
      <p>説明：<%= @post.body %></p>
      <% @post.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>
      <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
      <p>ユーザーネーム：<%= @post.user.full_name %></p>
      <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <% if @post.user == current_user %>
        <%= link_to "削除", post_path(@post), method: :delete %>
      <% end %>
  
      <div id="show-stars"></div>
      <script>
        let showRateElement = document.querySelector('#show-stars');
        let showOpt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'post[star]',
        score: "<%= @post.star %>",
        readOnly: true
        };
        window.raty(showRateElement, showOpt);
      </script>
  
      <% if @post.favorited_by?(current_user) %>
      <p>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorite.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorite.count %> いいね
        <% end %>
      </p>
      <% end %>
    </div>
  
  
    <div>
      <p>コメント件数：<%= @post.post_comment.count %></p>
      <% @post.post_comment.each do |post_comment| %>
        <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
        <%= post_comment.user.full_name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
    <!--raty-->
    <div id="star-rate<%= @post.id%>">
      <script>
        $('#star-rate<%= @post.id %>').empty();
        $('#star-rate<%= @post.id%>').raty({
         size      : 36,
         starOff   : '<%= asset_path('star-off.png') %>',
         starOn    : '<%= asset_path('star-on.png') %>',
         half      : false,
         readOnly: true,
         score: <%= @post.star %>,
         });
      </script>
    </div>
      
    <h5>住所</h5>
    <p><%= @post.adress %></p>
    <div id="map" style="height: 400px;"></div>
    <script>
    function initMap(){
      // 地図の位置情報(緯度・経度)を取得
      let mapPosition = {lat: <%= @post.latitude || 0 %> , lng: <%= @post.longitude || 0 %> };
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: mapPosition
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
    
      let contentString = '【住所】<%= @post.adress %>';
      let infowindow = new google.maps.InfoWindow({
        content: contentString
      });
    
      let marker = new google.maps.Marker({
        position: mapPosition,
        map: map,
        title: contentString
      });
    
      marker.addListener('click', function(){
        infowindow.open(map, marker);
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
    

    <div>
      <%= form_with model: [@post, @post_comment] do |f| %>
       <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに" %>
       <%= f.submit "送信する" %>
      <% end %>
    </div>


  </div>
</div>
