
<div class="col-md-3">
<% if user_signed_in? %>
 <h2>会員情報</h2>
 <%= image_tag user.get_profile_image(100,100) %>
 <table class="table">
  <tbody>
   <tr>
   <th>name</th>
   <th><%= user.full_name %></th>
   </tr>
   <tr>
   <th>introduction</th>
   <th><%= user.introduction %></th>
   </tr>
  </tbody>
 </table>
 <% if user.email != "guest@example.com" %>
 <div class="row">
  <%= link_to information_edit_users_path, class: 'btn btn-outline-secondary btn-block mb-3' do %>
   <i class="fas fa-user-cog"></i>
  <% end %>
 </div>
 <% end %>
 
 <% else %>
 <h3>会員登録で、<br>
     便利にサイトが<br>
     利用できます！
 </h3>
 <div class="">
  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-secondary ml-3 mb-3' %>
 </div>
 <h3>登録済みの方は<br>
  こちらから
 </h3>
 <div class="">
   <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-secondary ml-3' %>
 </div>
 
 <% end %>
 
 </div>

