<div class="col-lg-3 bg-light mt-3">
  <% if user.email != "guest@example.com" %>
    <div class="mt-3 border-bottom text-align-center">
      <h5 class="font-weight-bold">ようこそ！<br><%= user.screen_name %>さん</h5>
    </div>
    <!--検索スペース-->
    <div class="search_form mt-2 col-auto">
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, :placeholder => "入力して検索する", class: "mb-1" %>
        <%= f.select :range, options_for_select([['投稿記事'], ['コミュニティ']]) %>
        <%= f.submit "検索", class: "btn btn-sm btn-primary ml-2" %>
      <% end %>
    </div>
    <div class="add-font-rocknroll img-container-user img mt-4">
      <%= image_tag user.get_profile_image(100,100), class: "" %>
    </div>
    <div class="add-font-rocknroll text-align-center mt-3 font-weight-bold">
      <%= user.screen_name %>
    </div>
    <div class="add-font-rocknroll mt-3">
      <%= user.introduction %>
    </div>
    <div class="add-font-rocknroll mt-3">
      <h6>推し麺　:　<%= user.fav_noodle %></h6>
    </div>
    <div class="add-font-rocknroll mt-3">
      <h6>フォロー中　:
      <%= link_to followings_users_path do %>
        <%= user.followings.count %></h6>
      <% end %>
    </div>
    <div class="add-font-rocknroll mt-3">
      <h6>フォロワー　:　<%= user.followers.count %></h6>
    </div>
    <div class="add-font-rocknroll mt-3">
      <h6>投稿数　:　📃<%= user.post.count %></h6>
    </div>
    <div class="add-font-rocknroll mt-3">
      <h6>総いいね数　：　💛<%= @favorites_count %></h6>
    </div>
    <div class="row mt-3 ml-1 mr-1">
      <%= link_to "プロフィール編集", information_edit_users_path, class: 'btn btn-warning btn-block mb-3 text-dark' %>
    </div>
    <% if  post_fav_best.present? %>
      <div class="mt-3 text-align-center font-weight-bold">
        <h6 class="font-weight-bold maker-line"><%= user.screen_name %>さんの</h6>
        <h6 class="font-weight-bold maker-line">いいねベスト１位投稿</h6>
      </div>
      <div class="mt-3 font-blue text-align-center">
        <%= post_fav_best.first.title %>
      </div>
      <div class="img-container img mt-3">
        <%= link_to post_path(post_fav_best.first.id) do %>
         <%= image_tag post_fav_best.first.get_image(200,200) %>
        <% end %>
      </div>
      <div class="mt-3 font-blue text-align-center">
        <h6>
          💛<%= post_fav_best.first.favorite.count %>
          💬<%= post_fav_best.first.post_comment.count %>
        </h6>
      </div>
    <% end %>
    <div class="row mt-3 ml-1 mr-1">
      <%= link_to "新規投稿する", new_post_path, class: 'btn btn-warning btn-block mb-3 text-dark' %>
    </div>
  <% else %>
    <div class="mt-3 border-bottom text-align-center">
      <h5 class="font-weight-bold">ようこそ！<br>ゲストユーザーさん</h5>
    </div>
    <h3 class="add-font-rocknroll text-align-center mt-3">
      会員登録で、<br>
      便利にサイトが<br>
      利用できます！
    </h3>
    <div class="mt-3 text-align-center ml-1 mr-1">
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-warning btn-block mb-3 text-dark' %>
    </div>
    <h3 class="add-font-rocknroll text-align-center">
      登録済みの方は<br>
      こちらから
    </h3>
    <div class="text-align-center ml-1 mr-1">
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-warning btn-block mb-3 text-dark' %>
    </div>
  <% end %>
</div>

