<div class="container add-font-rocknroll">
  <div class="row">

    <div class="col-12">
      <div class="text-align-center mb-1 mt-1 bg-info text-white">
        <%= flash[:notice] %>
      </div>
      <h2 class="midashi col-auto mt-2">投稿一覧</h2>
      <h6 class="mt-3">（全<%= @post_all.count %>件中<%= @posts.count %>件を表示）</h6>
        <% @posts.each do |post| %>
        <div class="row border-top mt-2">
          <div class="col-12 col-md-5 col-lg-4 col-xl-3 img-container img">
            <%= link_to admin_post_path(post.id) do %>
             <%= image_tag post.get_image(300,200) %>
            <% end %>
          </div>
          <div class="col-12 col-md-7 col-lg-8 col-xl-9">
            <h5 class="">
              <%= link_to admin_post_path(post.id) do %>
               <%= post.shop_name %>
              <% end %>
            </h5>
            <p class="font-weight-bold lead"><%= post.title %></p>
            <div class="row ml-2">
              <div class="col-5">
                <div class="row">
                  <div id="admin_index-stars<%= post.id%>"></div>
                  <h5 class="font-red">　星<%= post.star %>ツ！</h5>
                </div>
              </div>
              <div class="col-5 offset-md-2">
                <h6 class=""><small class="text-muted text-right">
                  <%= image_tag post.user.get_profile_image(40,40) %>
                  <%= post.user.screen_name %>さんの投稿
                </small></h6>
              </div>
            </div>
          <!--Raty-->
          <script>
            var adshowRateElement<%= post.id%> = document.querySelector('#admin_index-stars<%= post.id%>');
            var adshowOpt<%= post.id%> = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            scoreName: 'post[star]',
            score: "<%= post.star %>",
            readOnly: true
            };
            window.raty(adshowRateElement<%= post.id%>, adshowOpt<%= post.id%>);
          </script>
            <div class="add-font-rocknroll">
              <h6><%= post.body.truncate(39) %></h6>
              <h6 class="">
                <% post.tags.each do |tag| %>
                <span class="tag-dez"><%= tag.name %></span>
                <% end %></h6>
            </div>
          </div>
        </div>
        <% end %>
        <div>
          <%= paginate @posts %>
        </div>

        <div class="mt-3 mb-5">
          <h3>タグで投稿を絞る</h3>
          <div class="d-flex flex-column">
            <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
             <h5 class="mt-2 border-bottom">都道府県</h5>
              <% @tag_pre.all.each do |t| %>
               <div class='tag-input'><%= check_box :tag_ids, t.name %><%= t.name %></div>
              <% end %>
             <h5 class="mt-2 border-bottom">麺のジャンル</h5>
               <% @tag_genre.all.each do |t| %>
               <div class='tag-input'><%= check_box :tag_ids, t.name %><%= t.name %></div>
               <% end %>
             <h5 class="mt-2 border-bottom">みんなが作ったジャンル</h5>
               <% @tag_others.all.each do |t| %>
                <div class='tag-input'><%= check_box :tag_ids, t.name %><%= t.name %></div>
               <% end %>
             <div class="add-font-rocknroll mt-3">
               <%= submit_tag '　　検索　　', class: "btn btn-outline-secondary mb-3" %>
               <%= link_to "検索をリセット", admin_posts_path, class: 'btn btn-outline-secondary mb-3' %>
             </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

