<div class="container">
  <div class="row">
    <div class ="col-12">
      <div class ="row">
        <h3 class="mt-3 midashi">
          <%= @post.title %>
        </h3>
      </div>
      <div class ="row mt-2">
        <small><%= @post.created_at.strftime('%Y/%m/%d') %>　</small>
        <small class="text-muted">　💬<%= @post.post_comment.count %></small>
        <small class="text-muted">　💛<%= @post.favorite.count %></small>
      </div>
      <div class ="row">
        <%= image_tag @post.get_image(800,1200) %>
      </div>
      <div class ="row mt-2">
        <h4>評価　</h4>
        <div id="show-stars"></div>
        <h4 class="font-red">　星<%= @post.star %>ツ！</h4>
      </div>
      <script>
        let showRateElement = document.querySelector('#show-stars');
        let showOpt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'post[star]',
        score: "<%= @post.star %>",
        readOnly: true
        };
        window.raty(showRateElement, showOpt);
      </script>
      <div class="row">
        <% @post.tags.each do |tag| %>
          <span class="tag-dez"><%= tag.name %></span>
        <% end %>
      </div>
      <p class="mt-3"><%= simple_format(@post.body) %></p>
      <div class ="row">
        <table class="table table-bordered mt-3">
          <tr>
            <td>投稿者</td>
            <td>
              <%= image_tag @post.user.get_profile_image(40,40) %>
              <%= @post.user.screen_name %>
            </td>
          </tr>
          <tr>
            <td class="mt-3">ショップ名</td>
            <td><%= @post.shop_name %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @post.adress %></td>
          </tr>
        </table>
      </div>

      <div id="map" style="height: 400px;"></div>
      <script>
      function initMap(){
        let mapPosition = {lat: <%= @post.latitude || 0 %> , lng: <%= @post.longitude || 0 %> };
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: mapPosition
        });
        let transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        let contentString = '【住所】<%= @post.adress %>';
        let infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        let marker = new google.maps.Marker({
          position: mapPosition,
          map: map,
          title: contentString
        });

        marker.addListener('click', function(){
          infowindow.open(map, marker);
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>

      <div class="mt-2 text-right">
        <p>♥<%= @post.favorite.count %> いいね</p>
      </div>


      <div class="">
        <p class="font-weight-bold border-bottom">コメント件数：<%= @post.post_comment.count %>件</p>
        <% @post.post_comment.each do |post_comment| %>
          <p class="">
            <%= post_comment.comment %>
          </p>
          <div class="text-right">
              <%= link_to "このコメントを削除する", admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: 'btn btn-outline-secondary ml-3 mb-3' %>
          </div>
          <h6 class="mb-2 text-right border-bottom text-muted">
            <%= post_comment.user.screen_name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          </h6>
        <% end %>
      </div>

      <div class="add-font-rocknroll text-right">
        <%= link_to "この投稿を削除する", admin_post_path(@post), method: :delete, class: "btn btn-danger mb-3" %>
      </div>
      <div class="row mt-3"></div>

    </div>
  </div>
</div>
