<h2>コミュニティ一覧</h2>

<% @communities.each do |community| %>
 <div>
  <p>
    <%= link_to admin_community_path(community), class:'text-reset', style:"text-decoration: underline" do %>
     <%= community.title %>
    <% end %>
  </p>
  <p>対象都道府県：<%= community.prefecture %></p>
  <p>コミュニティの説明：<%= community.introduction %></p>
 </div>
<% end %>


   <div class="col-2 mx-auto">
    <%= paginate @communities %>
  </div>

 
 <%= link_to "新しいコミュニティの作成", new_admin_community_path, class: 'btn btn-outline-secondary ml-3 mb-3' %>