<div class="container add-font">
  <div class="row">
    <div class="col-md-8 mx-auto my-5">
      <h3 class="my-5"><mark class="bg-light">新しいコミュニティの作成</mark></h3>
        <div class="ml-3">
          <div class="mb-5 px-3">
          <%= form_with model: @community, url: admin_communities_path do |f| %>
            <div class="row form-group">
              <%= f.label :"コミュニティタイトル", class: "col-3 mx-auto" %>
              <%= f.text_field :title, autofocus: true,  autocomplete: "title", class: "col-8 form-control" %>
            </div>
            <div class="row form-group">
              <%= f.label :"コミュニティ説明", class: "col-3 mx-auto" %>
              <%= f.text_field :introduction, autocomplete: "introduction", class: "col-8 form-control" %>
            </div>
            <div class="row form-group">
              <%= f.label :"都道府県", class: "col-3 mx-auto" %>
              <%= f.text_field :prefecture, autocomplete: "prefecture", class: "col-8 form-control" %>
            </div>
            <div class="text-center">
              <%= f.submit "  新しく作る  ", class: "btn btn-outline-primary" %>
            </div>
          <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
