<div class="container">
  <div class="">
    <div class="text-align-center mb-1 mt-1 bg-info text-white">
      <%= flash[:notice] %>
    </div>
    <h3 class="mt-3 midashi">コミュニティリクエスト一覧</h3>
    <% @community_reqs.each do |community_req| %>
      <div class="border-top mt-2">
        <h5 class="">
        <%= link_to admin_community_req_path(community_req), class:'text-reset', style:"text-decoration: underline" do %>
          <%= community_req.title %>
        <% end %>
        </h5>
        <% if community_req.update_status == "incomplete" %>
          <p class="font-weight-bold text-success"><%= community_req.update_status_i18n %></p>
        <% elsif community_req.update_status == "on_hold" %>
          <p class="font-weight-bold text-primary"><%= community_req.update_status_i18n %></p>
        <% else %>
          <p class="font-weight-bold text-secondary"><%= community_req.update_status_i18n %></p>
        <% end %>
      </div>
    <% end %>
    <div class="col-2 mx-auto">
      <%= paginate @community_reqs %>
    </div>
    <div>
     <%= link_to "新しいコミュニティの作成", new_admin_community_path, class: 'btn btn-outline-secondary mb-3' %>
    </div>
  </div>
</div>
