<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="my-4"><mark class="bg-light"><%= @user.full_name %>さんの会員詳細</mark></h4>
        <div class="col-md-9 d-flex pl-0 font-weight-bold">
          <div class="col-auto pl-0">
            <p>会員ID</p>
            <p>氏名</p>
            <p>フリガナ</p>
            <p>自己紹介文</p>
            <p>好きな都道府県</p>
            <p>押し麺類</p>
            <p>メールアドレス</p>
            <p>会員ステータス</p>
          </div>
          <div class="col-auto">
            <p><%= @user.id %></p>
            <p><%= @user.full_name %></p>
            <p><%= @user.last_name_kana+"　"+@user.first_name_kana %></p>
            <p><%= @user.introduction %></p>
            <p><%= @user.prefecture %></p>
            <p><%= @user.fav_noodle %></p>
            <p><%= @user.email %></p>
            <% if @user.is_deleted == false %>
              <p class="font-weight-bold text-success">有効</p>
            <% else %>
              <p class="font-weight-bold text-secondary">退会</p>
            <% end %>
            <div class="col-auto d-flex pl-0">
              <div class="col-auto justify-content-start pl-0">
                <%=link_to "編集する", edit_admin_user_path(@user) ,class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>